# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
dist/
build/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# allow summary artifacts
!reports/
!reports/weekly/
!reports/weekly/**
!reports/daily/
!reports/daily/**
